<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find environments)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find environments)/robots/turtlebot3_burger_1/turtlebot3_burger.urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <!-- Change of tf footprint to camera_link -->
  <!--node pkg="tf" type="static_transform_publisher" name="link_kinetic" args="-0.018 0 0.365 0.707 0 0 0.707 base_footprint camera_link 100" /-->
  <node pkg="tf" type="static_transform_publisher" name="link_kinetic" args="-0.018 0 0.365 0 0 0 0 base_footprint camera_link 10" />
</launch>
